<div class='col-lg-12'>
  <div class='page-header'>
    <h1 id='tables'>Adicionar Departamento</h1>
  </div>

  <div class='bs-component col-lg-8'>
    <form action='/departamento/create' method='post'>
      <div class='form-group mt-2'>
        <label class='col-form-label' for='name'>Nome</label>
        <input
          type='text'
          class='form-control'
          id='name'
          name='name'
          value="{{departamento.name}}"
        />
        <div class="invalid-feedback" style="display: block;">
          {{showErrors errors 'name'}}
        </div>
      </div>
      <div class='form-group mt-2'>
        <label class='col-form-label' for='sigla'>Sigla</label>
        <input
          type='text'
          class='form-control'
          id='sigla'
          name='sigla'
          value="{{departamento.sigla}}"
        />
        <div class="invalid-feedback" style="display: block;">
          {{showErrors errors 'sigla'}}
        </div>
      </div>
      <div class='form-group mt-4'>
        <input type="hidden" name="_csrf" value="{{csrf}}">
        <button type='submit' class='btn btn-primary'>Salvar</button>
      </div>
      <p>{{e.message}}</p>
    </form>
  </div>
</div>